<div class="container-list">
    <h4>Details TASK</h4>

    <div class="d-flex flex-row mb-3">
        <div class="task-text">
            <h4>{{task.title}}</h4>
            <h4>{{task.description}}</h4>
            <h4>{{task.author}}</h4>
            <img class="img-detail" src="{{task.image}}" >
        </div>
        <div class="list-btn-group">
            <form action="/tasks/{{task.id}}/delete" method="post">
                <button type="submit" class="btn btn-danger">Delete task</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" href="/tasks">Go to tasks</a>
</div>